.vscode/
.cache/
script/cubrid-cci
output/
output_unicode/
project/.vs
project/build
project/temp
UnitTest-CPP/.vs/
UnitTest-CPP/Backup/
UnitTest-CPP/Backup2/
UnitTest-CPP/Backup3/
UnitTest-CPP/UnitTest-CPP/x64/
UnitTest-CPP/UpgradeLog.htm
UnitTest-CPP/UpgradeLog2.htm
UnitTest-CPP/UpgradeLog3.htm
UnitTest-CPP/x64/
UnitTest/.vs/
UnitTest/UnitTest/bin/
UnitTest/UnitTest/obj/
UnitTest/TestResults/
build/
test_result_linux.txt
linux_test/libcubrid-odbc-test.so
linux_test/CMakeFiles/
linux_test/CMakeCache.txt
linux_test/Makefile
linux_test/cmake_install.cmake